 
.consumer_report_block
 {
	margin:5px 0;
	padding:15px;
	border:1px solid #AAA;
 }
 .smco_arrears_count
 {
	color:white;
	font-size:11px;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	padding:1px 1px!important;
	margin-left:8px!important;
	vertical-align:middle!important;
	margin-top:-4px!important;
	display:inline-block;
	position:relative;
 }
 .admin_form_gvalue
 {
	position:absolute; 
	right:28px; 
	font-family:Ubuntu Condensed, Arial, serif; 
	font-size:17px; 
	font-weight:900;
 }
 .admin_form_payments
 {
	margin-left:10px;
	padding:1px 5px;
	background:#666;
	color:#FFF;
 }
.smco_numberer
{
	width:50px;
	height:29px;
	vertical-align:center;
}
.smco_drop
{
	width:100px;
	vertical-align:middle;
}
.smco_table_li_0, .smco_table_li_1
{
	display: block;
	max-width: 320px;
	position: relative;
	border-bottom: #EEE solid 1px;
	background: #CCC;
	padding: 6px;
	color: black;
}
.smco_table_li_1
{
	background: #DDD;
}
.smco_widget_form, 
.smco_widget_form .smco_table_li_0, 
.smco_widget_form .smco_table_li_1
{
	color:#AAA;
	max-width:360px!important;
}
.smco_widget_form .smco_table_li_0
{
	background:#111;
	border-bottom: #444 solid 1px;
}
.smco_widget_form .smco_table_li_1
{
	background:#222;
	border-bottom: #444 solid 1px;
}
.smco_traditional
{
	background-image:url("../img/traditional_package.jpg");
	background-size:cover;
}
.smco_fantasy
{
	background-image:url("../img/fantasy_package.jpg");
	background-size:cover;
}
.smco_politeconomics_scheme
{
	background-image:url(../img/politeconomics_schemes.jpg)!important;
	background-size:cover;
}